{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{title.index}} | {{app.title}}</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block main %}
<main>
    <form class="diary-form" action="/" method="post">
        {% csrf_token %}
        <div class="record-summary">
            <div class="emotion-group">
                <h2 class="emotion-group__title" for="select-emotion">
                    {{ text.select_emotion }}
                </h2>
                <div>
                    {% for emotion in emotions %}
                    <input class="emotion-group__choice" type="radio"
                            name="emotion_id"
                            id="{{ emotion.emotion_name }}"
                            value="{{ emotion.pk }}">
                    <label class="emotion-group__label"
                    for="{{ emotion.emotion_name }}">
                        <span class="emotion-group__body__text">
                            {{ emotion.emotion_name }}
                        </span>
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div class="emotion-description">
                <label class="emotion-description__title"
                    for="emotion-description">
                    {{ text.emotion_description }}
                </label>
                <textarea class="emotion-description__body"
                    name="emotion_description"
                    id="emotion-description"
                    cols="100" rows="10"
                    placeholder="{{ text.placeholder.emotion_description }}"></textarea>
            </div>

            <div class="record-details">
                <h2 class="record-details__title">
                    さらにくわしく
                </h2>
                <dl class="record-details__body">
                    <dt>仕事の忙しさ</dt>
                    <dd></dd>
                </dl>
            </div>
            <div class="record-operation">
                <input class="record-operation__submit-button"
                    type="submit"
                    value="登録">
            </div>
        </form>
    </main>
    {% endblock %}