{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{title.timeline}} | {{app.title}}</title>
{% endblock %}

{% block main %}
<main>
    <div>
        <dl>
            {% for emotion_record in emotion_records %}
            <dt>感情名</dt>
            <dd>{{ emotion_record.emotion_id.emotion_name }}</dd>
            <dt>詳細</dt>
            <dd>{{ emotion_record.emotion_cause }}</dd>
            <dt>登録日時</dt>
            <dd>{{ emotion_record.entered_at | date:"Y/n/j H:i:s" }}</dd>
            {% endfor %}
        </dl>
    </div>
</main>
{% endblock %}